@inherits LayoutComponentBase

<PageTitle>Simcode.PazCheck.CentralServer</PageTitle>

<div class="page">

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
